/*Achievements Overview*/
.overview {
  margin: auto;
  padding: 50px;
}

.achv {
  background-color: white;
  width: auto;
  height: fit-content;

  border-radius: 10px !important;
  margin: 10px;
}

.achv-info {
  text-align: center;
  
  border-radius: 10px !important;
}
.ach-left-guy {
  background-color: #94d2bd;
}

.acvh-img {
  max-height: 150px;
  max-width: 150px;
  padding: 10px;
}

#ach_info_popup {
  width: 10px;
  float: right;
  font-size:medium;
  padding-top: 10px;
  color:darkcyan;
  font-weight: bold;
  cursor: help;
  
}

#stickyDiv{
  width: fit-content;
}