.App {
  height: 100vh;
  font-family: "Montserrat";
}

/*CSS for NAV BAR */
.icons {
  padding-right: 5px;
}

/*
.navbar-brand {
  transform: translateX(-50%);
  vertical-align: top;
  left: 50%;
  position: fixed;
}
*/

.LandingPage {
  text-align: center;
  margin: auto;
  width: 100%;
}

#signIn {
  margin-top: auto;
  margin-bottom: auto;
}

.link {
  color: #0D6EFD;
  text-decoration: underline;
  cursor: pointer;
}

.navbar {
  background-color: #94d2bd;
}

/*Sidebar*/
.Sidebar {
  height: 100%;
  background-color: #e8e8e4;
}

.SidebarList {
  height: auto;
  margin-top: 30px;
  width: 100%;
}
.Sidebar .navItem {
  width: 100%;
  height: 50px;
  background-color: black;
  list-style-type: none;
  color: gray;
  justify-content: center;
  align-items: center;
}

.Sidebar .navItem:hover {
  cursor: pointer;
  background-color: rgb(221, 221, 221);
  color: grey;
}

.Sidebar .navItem:active {
  color: black;
}

/*Lists*/
.taskHeading {
  margin: auto;
  padding: 20px;
  width: 60% !important;
  max-width: 750px !important;
  font-weight: bold;
  border: 4px black solid;
  border-radius: 10px;
  background: #e9edc9;
}

.viewToggleButton {
  margin: 15px auto 15px auto;
  padding: 8px;
  border-radius: 8px;
  width: fit-content;
  background: #94d2bd;
}

.form-switch {
  margin: 0px 15px;
}

#dailyViewToggle {
  width: 40px !important;
}

.taskContainer {
  margin: 0px auto 50px auto;
  padding: 30px 50px !important;
  width: 60% !important;
  max-width: 750px !important;
  border: 4px black solid;
  border-radius: 10px;
  max-height: 55%;
  overflow: auto;
}

.dailyViewTraditional {
  display: block;
}

.dailyViewStickyNotes {
  display: none;
}
#dailyViewPlaceHolder {
  width: 100%;
  height: 100%;
}

.task {
  margin: 0 auto;
  padding: 10px;
  width: 100%;
  border-radius: 0.5em;
  background: white;
  /* background: #ff7575; */
}

.taskCheckBox {
  width: 20px !important;
  height: 20px !important;
}

.task h5 {
  margin: 0;
}

/* .habit {
  background: #f8d78b;
} */

.closeButton {
  background: transparent;
  border: none;
}

.addTaskButton {
  margin: auto;
  display: block;
  /* width: 50%; */
  background: transparent;
  border: none;
  color: #e9edc9;
}

.addTaskForm label {
  width: 100%;
  /* text-align: right; */
  margin: 0 !important;
}

/*New Habit*/
.NewHabitForm {
  min-width: 510px;
  max-width: 800px !important;
  padding: 50px;
  font-size: 20px;
  background: #e9edc9;
  border-radius: 1em;
  color: black;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.NewHabitHeading {
  margin: 25px auto;
  text-align: center;
}

.text-right {
  float: right;
  text-align: right;
}

.text-center {
  float: center;
  text-align: center;
}

.invaldInput {
  color: rgb(255, 100, 100);
  border-radius: 0.5em;
  width: fit-content;
  margin: 0 auto;
  padding: 5px 25px;
  font-size: 20px;
}
.invaldInputNewHabit {
  color: white;
  background: #73765c;
}
.invaldInput span {
  color: rgb(255, 100, 100);
}

/*Landing Page*/

.difText {
  color: #ff8686;
}

.keyFeature {
  background-color: #e9edc9;
}

/* Tracker Container */
/* #trackerContainer {
  border-top: 3px solid black;
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 15vh;
  
} */

.trackerContainer {
  border-radius: 10px 10px 0px 0px;
  background-color: #94d2bd;
  padding: 0px 10px 0px 10px;
  border-left: black 1px solid;
  border-top: black 1px solid;
  border-right: black 1px solid;
}

.trackerHeadingText {
  font-size: 18px;
  font-weight: 600;
  bottom: 0px;
  margin: auto;
  text-align: center;
  display: block;
  width: 100%;
}

.trackerText {
  font-size: 16px;
  font-weight: 600;
}

.trackerContainerToggle {
  margin: 0 auto;
  padding: 0 !important;
  display: block !important;
  background-color: #94d2bd !important;
  color: black !important;
  /* border: none !important; */
  border-left: black 1px solid !important;
  border-top: black 1px solid !important;
  border-right: black 1px solid !important;
  border-bottom: none !important;
  box-shadow: none !important;
  border-radius: 10px 10px 0px 0px !important;
}

.dailyDonuts {
  padding-top: 10px;
  /* background-color: rgb(255, 255, 255); */
  /* background-color: #e9edc97e; */
  /* background-color: #94d2bd; */
}

.dailyDonut {
  margin: auto;
  /* background-color: black; */
}

.habitDonuts {
  overflow-x: scoll;
  overflow-y: hidden;
  white-space: nowrap;
  /* height: 150px; */
  padding-top: 10px;
  border-right: black 1px solid;
  /* background-color: rgb(255, 94, 94); */
  /* background-color: #e9edc97e; */
  /* background-color: #94d2bd; */
}