.App {
  width: 100vw;
  height: 100vh;
  font-family: 'Montserrat';
}

/*CSS for NAV BAR */
.icons {
  padding-right: 5px;
}

.navbar-brand {
  transform: translateX(-50%);
  vertical-align: top;
  left: 50%;
  position: fixed;
}

#signIn {
  margin-top: auto;
  margin-bottom: auto;
}

.navbar {
  background-color: #94d2bd;
}

/*Sidebar*/
.Sidebar {
  height: 100%;
  background-color: #e8e8e4;
}

.SidebarList {
  height: auto;
  margin-top: 30px;
  width: 100%;
}
.Sidebar .navItem {
  width: 100%;
  height: 50px;
  background-color: black;
  list-style-type: none;
  color: gray;
  justify-content: center;
  align-items: center;
}

.Sidebar .navItem:hover {
  cursor: pointer;
  background-color: rgb(221, 221, 221);
  color: grey;
}

.Sidebar .navItem:active {
  color: black;
}

/*New Habit*/
.NewHabitForm {
  min-width: 510px;
  max-width: 800px !important;
  padding: 50px;
  font-size: 20px;
  background: #577590;
  border-radius: 1em;
  color: white;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25)
}

.NewHabitHeading {
  margin: 25px auto;
  text-align: center;
}

.text-right {
  float: right;
  text-align: right;
}

.text-center {
  float: center;
  text-align: center;
}

.invaldInput {
  color: rgb(255, 100, 100);
  border-radius: 0.5em;
  width:fit-content;
  margin: 0 auto;
  padding: 5px 25px;
  font-size: 20px;
}
.invaldInputNewHabit {
  color: white;
  background: rgb(56, 74, 90);
}
.invaldInput span {
  color: rgb(255, 100, 100);
}

/*Achievements Overview*/
.overview{
  width: auto;
  margin: auto;
  padding: 50px;
  
}
.achv{
  background-color: white;
  width: auto;
  height: fit-content;

  margin: 10px;
}
.achv-info{
  text-align: center;
}
.acvh-img{
  max-height: 150px;
  max-width: 150px;
}

/* Wheel Spin */
#WsMain{
  border-style: dashed;
  width: auto;
  margin: auto;
  text-align: center;
}